@media (max-width:992px) {

    /* header section style */
    .header {
        display: none;
    }

    nav {
        justify-content: space-between;
    }

    nav .middle {
        display: none;
    }

    nav .right {
        flex: 1;
        max-width: 400px;
    }

    nav .right .inputbox {
        display: none;
    }

    nav .right #search,
    nav .right #list,
    nav .right #user {
        display: block;
    }

    /* End header section style */

    /* footer section style */
    .first-footer{
        width: 100%;
        margin: 2rem 0;
    }
    /* End footer section style */
}

@media (max-width:768px) {

    /* main section style */
    .home-banner {
        min-height: 100vw;
    }

    .dont-miss-container .div,
    .summer-container .div{
        flex-direction: column;
    }

    .dont-miss-container .left,
    .dont-miss-container .right,
    .summer-container .left,
    .summer-container .right {
        width: 100%;
        min-height: 100vw;
    }

    /* End main section style */
}

@media (max-width:592px) {

    /* main section style */
    .video-container p:nth-child(2) {
        font-size: var(--font-xl);
    }
    .dont-miss-container .content p:nth-child(1){
        font-size: var(--font-sm);
    }
    .dont-miss-container .content p:nth-child(2){
        font-size: var(--font-md);
    }
    .dont-miss-container .content .btn{
        margin-bottom: 1rem;
        font-size: var(--font-sm);
    }
    /* End main section style */


    /* footer section style */
    .first-footer{
        grid-template-columns: 1fr;
    }
    .first-footer ul{
        display: none;
    }
    .first-footer div{
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
    .first-footer div:hover ul{
        display: inline-block;
    }
    .second-footer .grid{
        grid-template-columns: 1fr;
    }
    .second-footer .grid div:nth-child(1){
        border-bottom: 1px solid var(--light-black-color);
    }
    .second-footer .grid div:nth-child(2) ul,
    .second-footer .grid div:nth-child(3) ul{
        display: none;
    }
    .second-footer .grid div:nth-child(2):hover ul,
    .second-footer .grid div:nth-child(3):hover ul{
        display: inline-block;
    }
    .second-footer .grid div:nth-child(4){
        text-align: left;
    }
    .second-footer .terms p span{
        display: block;
    }
    /* End footer section style */
}

@media (max-width:480px) {

    /* main section style */
    .spot-container .spot-box{
        width: 100vw;
        height: 100vw;
    }
    .sport-container .spot-box{
        height: 120vw;
    }
    .spot-container .spot-box .img{
        /* height: calc(100vw-100px); */
        height: 80vw;
    }
    .spot-container .spot-box .title{
        margin: 1rem auto;
    }
    /* End main section style */

}

@media (max-width:333px) {

    /* main section style */
    .sport-container .spot-box{
        height: 115vw;
    }
    .sport-container .content .btn{
        display: none;
    }
    /* End main section style */

}