@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* custom style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}
:root{
    --black-color: #000;
    --white-color: #fff;
    --light-black-color: #666;
    --light-white-color: #eee;
    --font-xxl: 3rem;
    --font-xl: 2.125rem;
    --font-lg: 1.625rem;
    --font-md: 1rem;
    --font-sm: 0.625rem
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    transition: all .3s ease;
}
i.fa{
    padding: 10px;
    border-radius: 50%;
    transition: all .3s ease;
    cursor: pointer;
}
.btn{
    border: none;
    outline: none;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: var(--font-md);
    font-weight: 700;
    background-color: var(--black-color);
    color: var(--white-color);
    transition: all .3s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--light-black-color);
}

/* End custom style */

/* header section style */
.header{
    width: 100%;
    background-color: var(--light-white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 1.5rem;
}
.header img{
    width: 40px;
}
.header div a{
    color: var(--black-color);
    font-weight: 500;
    font-size: var(--font-md);
}
.header div a:hover{
    color: var(--light-black-color);
}


nav{
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}
nav .left{
    flex-basis: 100px;
    text-align: center;
}
nav .left img{
    width: 50px;
}


nav .middle{
    flex: 1;
}
nav .middle ul{
    list-style: none;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    overflow: hidden;
}

nav ul li a{
    font-size: var(--font-md);
    font-weight: 500;
    /* padding: 9px 5px 0; */
    color: var(--black-color);
    transition: all .1s ease;
}
nav ul li a:hover{
    border-bottom: 3px solid var(--black-color);
}
nav .right{
    flex-basis: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .right i{
    font-size: var(--font-lg);
    color: var(--light-black-color);
    
}
nav .right i:hover{
    background-color: var(--light-white-color);
}
nav .right .inputbox{
    width: 180px;
    height: 35px;
    background-color: var(--light-white-color);
    display: flex;
    align-items: center;
    border-radius: 25px;
}
nav .inputbox i{
    flex-basis: 20px;
    margin-right: 10px;
}
nav .inputbox input{
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    max-width: 100px;
    font-size: var(--font-lg);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: var(--light-black-color);
}
nav .right #search,
nav .right #list,
nav .right #user{
    display: none;
}

header .offer-container{
    width: 100%;
    text-align: center;
    background-color: var(--light-white-color);
    padding: 5px;
}
header .offer-container p{
    font-weight: 500;
    font-size: var(--font-lg);
    color: var(--light-black-color);
}
header .offer-container a{
    color: var(--black-color);
    font-size: var(--font-sm);
    font-weight: 500;
    text-decoration: underline;
}
/* End header section style */


/* main section style */
.home-banner{
    width: 90%;
    margin: auto;
    background-image: url('../images/img/banner-2.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.video-container{
    width: 100%;
    text-align: center;
    padding-top: 3rem;

}

.video-container div{
    margin: 1rem 0;
}
.video-container p:nth-child(2){
    font-size: var(--font-xxl);
    font-weight: 900;
}
.video-container video{
    width: 100%;
}

.dont-miss-container h2{
    font-size: var(--font-lg);
    font-weight: 500;
    margin-left: 2rem;
}
.dont-miss-container .div{
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}
.dont-miss-container .left,
.dont-miss-container .right{
    width: 50%;
    min-height: 100vh;
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.dont-miss-container .left{
    background-image: url('../images/img/miss-1.avif');
}
.dont-miss-container .right{
    background-image: url('../images/img/miss-2.avif');
}
.dont-miss-container .content{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 2rem;
    color: var(--white-color);
}
.dont-miss-container .content p:nth-child(1){
    font-size: var(--font-md);
    margin-bottom: 1rem;
}
.dont-miss-container .content p:nth-child(2){
    font-size: var(--font-lg);
    margin-bottom: 1rem;
}
.dont-miss-container .content .btn{
    margin-bottom: 1rem;
    background-color: var(--white-color);
    color: var(--black-color);
}
.dont-miss-container .content .btn:hover{
    filter: brightness(0.7);
}

.spot-container{
    width: 100%;
    padding: 2rem 0;
}
.spot-container p{
    padding: 0 2rem;
    font-size: var(--font-lg);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}
.spot-container p span{
    font-size: var(--font-md);
}
.spot-container p span i{
    background-color: var(--light-black-color);
    color: var(--white-color);
}
.spot-container p span i:hover{
    filter: brightness(1.5);
}
.spot-container .div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    overflow: hidden;
    overflow-x: auto;    
    padding: 0 1rem 3rem;
}
.spot-container .div::-webkit-scrollbar{
    background-color: var(--white-color);
    height: 3px;
}
.spot-container .div::-webkit-scrollbar-thumb{
    background-color: var(--black-color);
}
.spot-container .spot-box{
    display: inline-block;
    width: 400px;
    height: 500px;
    background-color: var(--light-white-color);
}
.spot-container .spot-box .img{
    height: 400px;
}
.spot-container .img img{
    width: 100%;
    height: 100%;
}
.spot-container .spot-box .title{
    margin: 2rem auto;
    width: fit-content;
    font-weight: 700;
    text-transform: uppercase;
}
/* End main section style */


/* footer section style */
/* End footer section style */