@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

/* custom style */
/* End custom style */

/* header section style */
/* End header section style */


/* main section style */
/* End main section style */


/* footer section style */
/* End footer section style */